---
title: Teaching
---

<div class="teaching-page">
  <h1>Teaching</h1>

  <h2>Courses</h2>
  <section class="courses">
    <h3>Spring &#39;23</h3>
    <ul>
      <li>CSE 5469: Introduction to blockchains and decentralized applications</li>
      <li>CSE 3461: Computer Networking</li>
    </ul>

    <h3>Spring &#39;22</h3>
    <ul>
      <li>CSE 3461: Computer Networking</li>
    </ul>

    <h3>Spring &#39;21</h3>
    <ul>
      <li>CSE 3461: Computer Networking</li>
      <li>CSE 5469: Data-driven Algorithms for Networking Systems</li>
    </ul>
  </section>

  <h2>Students</h2>
  <div class="students">
    <ul>
      <li>Yifan Mao (Ph.D.)</li>
      <li><a href="https://yunqiz.com/">Yunqi Zhang (Ph.D.)</a></li>
      <li>Jingren Wei (Ph.D.)</li>
      <li>Arti Vedula (Ph.D., co-advised with Prof. Abhishek Gupta)</li>
      <li>Patrick Yang (Masters)</li>
      <li>Mel Gunawardena (Undergrad)</li>
    </ul>
  </div>
</div>